@using System.Security.Claims;
@model IEnumerable<HastaneRandevuSistemi.Models.Randevu>
@{
    ViewData["Title"] = localizer["Home Page"];
}

@* <div class="text-center"> *@
    @* <div class="container mt-4"> *@
        <!-- User Page -->
        @* <div id="userPage" class="page"> *@
          
            <!-- Appointment Button -->

@if (User.IsInRole(SD.Role_Kullanici))
            {
                <div class="container mt-4">

                    <!-- Welcome Section -->
                    <div class="jumbotron">
                        <h1 class="display-4">@localizer["Online Randevu Alın!"]</h1>
            <p class="lead">@localizer["slogu"]</p>
                        <a class="btn btn-primary" asp-area="Kullanici" asp-controller="Home" asp-action="Create">
                            @localizer["Randevu Al"]
                        </a>
                        <br />
                        <br />
                    </div>

                </div>
                <!-- User Appointments Section -->
        @if (Model is not null && Model.Any())
        {
            <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="3">@localizer["Alınan Randevular"]</th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Tarih)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Doktor.Adi)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tarih)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doktor.Adi)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@localizer["Düzelt"]</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">@localizer["Detaylar"]</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@localizer["Sil"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            </div>
        }

    }

            @if (User.IsInRole(SD.Role_Admin))
            {
    <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <div id="sidebar" class="bg-dark">
                        <div class="p-4">
                            <h1 class="navbar-brand">Admin Panel</h1>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <div class="d-flex align-items-center">
                                            <img src="~/icons/hospital-solid.svg" class="mr-2" />
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Poliklinik" asp-action="Index">@localizer["Poliklinikler"]</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex align-items-center">
                                            <img src="~/icons/user-doctor-solid.svg" class="mr-2" />
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Doktor" asp-action="Index">Doktorlar</a>
                                        </div>
                                    </li>
                                  @*   <li class="nav-item">
                                        <div class="d-flex align-items-center">
                                            <img src="~/icons/user-solid.svg" class="mr-2" />
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Kullanici" asp-action="Index">Kullanıcılar</a>
                                        </div>
                                    </li> *@
                                    <li class="nav-item">
                                        <div class="d-flex align-items-center">
                                        <img src="~/icons/calendar-check-solid.svg" class="mr-2" />
                                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Randevu" asp-action="Index">Randevular</a>
                                        </div>
                                    </li>
                                </ul>

                        </div>
                    </div>

        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <div class="flex-grow-1">
                <h4 class="alert-heading">@localizer["Welcome to the Dashboard!"]</h4>
                <p>@localizer["You can modify polyclinics, doctors, and appointments here."]</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
                </div>

              

                <!-- Sidebar Toggle Script -->
                <script>
                    $(document).ready(function () {
                        $("#sidebarCollapse").on("click", function () {
                            $("#sidebar").toggleClass("active");
                        });
                    });
                </script>
            }
        @* </div> *@

    @* </div> *@
@* </div> *@
